#hero {
  height: 100vh;
  background: url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name-l {
  height: 100vh;
  width: 50vw;
  float: right;
}
.my-name {
  margin-top: 120px;
}

.writing {
  color: white;
  text-transform: uppercase;
  text-align: left;
  font-size: 6rem;
  display: block;
  line-height: 1;
}

.my-title {
  margin-left: 10px;
}

.myself {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: lighter;
  /* font-style: italic; */
  margin-top: 50px;
  font-family: 'Ubuntu Mono', monospace;
}

b {
  border-top: 5px solid var(--color-2);
  border-bottom: 5px solid var(--color-2);
  font-weight: 300;
  padding: 3px;
}

/* Goal */

#goal {
  height: 400px;
  padding: 20px;
  margin: 20px 0;
}
.goal h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.goal {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  border-top: 3px solid var(--color-3);
  border-bottom: 3px solid var(--color-3);
}

.goal a {
  font-family: 'kalam', 'italic';
  font-size: 2rem;
}

/* Projects */

.projects-container {
  height: auto;
  width: 100%;
  padding: 20px;
  margin: 10px auto;
  padding: auto;
  /* background-color: seagreen; */
}

.title-r {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
  background: #fff;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
  text-align: right;
}

.title {
  position: relative;
}

.title:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: linear-gradient(to right, #6fffe9, #5bc0be);
  border-radius: 50px;
  bottom: 5px;
  transition: all 0.2s ease-out;
}

.title-r:hover {
  background-position: 0 11px;
}

.title:hover:before {
  transform: translateY(10px);
}

.projects {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
}

figure.snip0029 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: auto;
  min-width: 620px;
  max-width: 710px;
  max-height: 820px;
  width: 420px;
  background: #000000;
}
figure.snip0029 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0029 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0029 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
figure.snip0029 figcaption h2 {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin: 0;
  padding: 20px 15px;
  position: absolute;
  font-size: 1.5em;
  bottom: 35%;
  right: 30px;
  left: 30px;
  word-spacing: -0.1em;
  font-weight: 300;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
  background-color: #000000;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s,
    transform 0.35s;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
figure.snip0029 figcaption h2 span {
  font-weight: 800;
}
figure.snip0029 figcaption > div {
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  position: absolute;
  left: 45px;
  right: 45px;
  bottom: 40px;
  text-align: center;
  padding: 5px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s,
    transform 0.35s;
  -webkit-transform: translate(0, -40px);
  transform: translate(0, -40px);
}
figure.snip0029 figcaption > div i {
  font-size: 23px;
  padding: 6px;
  color: #000000;
  opacity: 0;
  position: relative;
  top: -50px;
  -webkit-transition: top 0.35s, all 0.35s;
  transition: top 0.35s, all 0.35s;
}
figure.snip0029 figcaption a {
  opacity: 0.8;
}
figure.snip0029 figcaption a:hover {
  opacity: 1;
}
figure.snip0029 figcaption::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  background-image: linear-gradient(
    to top,
    #000000 0%,
    transparent 50%,
    #000000 100%
  );
}
figure.snip0029:hover img,
figure.snip0029.hover img {
  opacity: 0.7;
}
figure.snip0029:hover figcaption h2,
figure.snip0029.hover figcaption h2 {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
figure.snip0029:hover figcaption > div,
figure.snip0029.hover figcaption > div {
  -webkit-transform: translate(0, -15px);
  transform: translate(0, -15px);
}
figure.snip0029:hover figcaption::before,
figure.snip0029.hover figcaption::before {
  opacity: 0.8;
}
figure.snip0029:hover figcaption i,
figure.snip0029.hover figcaption i {
  top: 0px;
  opacity: 1;
  /* color: #e44d26; */
}
figure.snip0029:hover a:first-child i,
figure.snip0029.hover a:first-child i {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip0029:hover a:nth-child(2) i,
figure.snip0029.hover a:nth-child(2) i {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
figure.snip0029:hover a:nth-child(3) i,
figure.snip0029.hover a:nth-child(3) i {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.and-more {
  height: 50px;
  display: grid;
  place-items: center;
  padding: 10px;
  margin-top: 50px;
}

.and-more h4 {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.and-more h4:hover {
  color: var(--color-3);
  transform: scale(1.1);
}
