.hero {
  height: 100vh;
  background: url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.name-l {
  height: 100vh;
  width: 50vw;
}
.my-name {
  margin-top: 120px;
}

.writing {
  color: white;
  text-transform: uppercase;
  text-align: left;
  font-size: 6rem;
  display: block;
  line-height: 1;
  user-select: none;
}

.my-title {
  margin-left: 10px;
}

.myself {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: lighter;
  /* font-style: italic; */
  margin-top: 50px;
  font-family: 'Ubuntu Mono', monospace;
}

b {
  border-top: 5px solid var(--color-2);
  border-bottom: 5px solid var(--color-2);
  font-weight: 300;
  padding: 3px;
  user-select: none;
}

/* Goal */

#goal {
  height: 100vh;

  padding: 30px;
  background-image: linear-gradient(black, var(--background));
}

.profile {
  height: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
  align-items: center;
  /* border-top: 3px solid var(--color-3);
  border-bottom: 3px solid var(--color-3); */
}

.profile-image {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 400px;
  width: 300px;
  background: var(--color-1);
  border: 15px solid white;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  color: #000000;
  border-radius: 10%;
  transform: rotate(10deg);
  margin-right: 50px;
  /* display: grid; */
}
.profile-image img {
  /* width: 100%; */
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  object-fit: cover;
}
.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-3);
  opacity: 0.7;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.profile-image:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.profile-image:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.profile-image:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.profile-image h1 {
  color: #111111;
  letter-spacing: 1px;
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
}
.card p {
  line-height: 14px;
  height: 70%;
}
.profile-image button {
  width: fit-content;
  height: 35px;
  width: 90px;
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
  background-color: #111;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.profile-image button a {
  color: #fff;
  font-size: 12px;
}

.profile-image button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}

.profile-me {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  text-align: center;
}

/* .goal h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.goal .lead {
  font-size: 1.5rem;
} */

/* Projects */

.projects-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 100px auto;
  padding: auto;
  /* background-color: seagreen; */
}

.title-r {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
  background: #fff;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
  text-align: right;
}

.title {
  position: relative;
  right: 0;
}

.title:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: linear-gradient(to right, #6fffe9, #5bc0be);
  border-radius: 50px;
  bottom: 5px;
  transition: all 0.2s ease-out;
}

.title-r:hover {
  background-position: 0 11px;
}

.title:hover:before {
  transform: translateY(10px);
}

/* Project Container */

.project-landing-container {
  height: 370px;
  /* background-color: red; */
  position: relative;
  margin: 150px 0;
}

.inner-l {
  height: 80%;
  background: linear-gradient(
    0deg,
    rgba(255, 66, 106, 1) 0%,
    rgba(255, 76, 46, 1) 100%
  );
  width: 70%;
  position: absolute;
  left: 0;
  border-radius: 5px;
  bottom: 0;
  box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.7),
    5px 5px 40px rgba(0, 0, 0, 0.7), -5px -5px 40px rgba(0, 0, 0, 0.7);
}
.outer-l {
  height: 100%;

  width: 55%;

  position: absolute;
  left: 15px;
  top: -15px;
  transition: all 0.4s ease-in;
  box-shadow: -25px 22px 40px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.7),
    5px 5px 40px rgba(0, 0, 0, 0.7), -5px -5px 40px rgba(0, 0, 0, 0.7);
}

.outer-l:hover {
  animation: hanging 2s linear;
}

.outer-l img {
  height: 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in;
  object-fit: cover;
}

@keyframes hanging {
  0% {
    /* top: 0; */
    transform: rotateZ(10deg);
    transform-origin: top;
  }
  25% {
    /* top: 1%; */
    transform: rotateZ(-5deg);
    transform-origin: top;
  }
  50% {
    /* top: 1%; */
    transform: rotateZ(5deg);
    transform-origin: top;
  }
  75% {
    transform: rotateZ(-3deg);
    transform-origin: top;
  }
  100% {
    transform: rotateZ(0deg);
    transform-origin: top;
  }
}

.project-landing-title-l {
  position: absolute;
  left: 50%;
  top: 20%;
  text-shadow: 5px 5px 22px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.inner-r {
  height: 80%;
  background: linear-gradient(
    0deg,
    rgb(99, 204, 123) 0%,
    rgba(40, 167, 69, 1) 100%
  );
  width: 70%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.7),
    5px 5px 40px rgba(0, 0, 0, 0.7), -5px -5px 40px rgba(0, 0, 0, 0.7);
}
.outer-r {
  height: 100%;
  width: 55%;
  position: absolute;
  right: 20px;
  top: -15px;
  border-radius: 5px;
  transition: all 0.4s ease-in;
  box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.7),
    5px 5px 40px rgba(0, 0, 0, 0.7), -5px -5px 40px rgba(0, 0, 0, 0.7);
}

.outer-r:hover {
  animation: hanging 2s linear;
}

.outer-r img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.project-landing-title-r {
  position: absolute;
  right: 45%;
  top: 20%;
  text-shadow: 5px 5px 22px rgba(0, 0, 0, 0.4);
}

.project-landing-title-l h1,
.project-landing-title-r h1 {
  font-family: 'Permanent Marker', cursive;
  user-select: none;
  font-size: 3rem;
  transform: translateZ(10px);
}

.and-more {
  height: 50px;
  display: grid;
  place-items: center;
  padding: 10px;
  margin-top: 50px;
}

.and-more h4 {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.and-more h4 .and-more-link {
  color: #fff;
}

.and-more h4:hover {
  color: var(--color-3);
  transform: scale(1.1);
}

/* Media */

@media (max-width: 500px) {
  .hero {
    height: 100%;
    background: none;
  }

  .hero .name-l {
    width: 100%;
    padding: 15px;
  }

  .writing {
    text-align: left;
  }

  .hero .name-l .my-name .writing {
    font-size: 2.7rem;
  }

  .hero .name-l .my-title {
    margin-top: 100px;
  }

  .hero .name-l .my-title .myself {
    font-size: 1.2rem;
    margin: auto;
  }

  #goal {
    height: 75vh;
  }

  #goal .profile {
    display: flex;
    flex-direction: column;
  }

  .profile .profile-image {
    border: none;
  }

  #goal .profile .profile-image {
    height: 170px;
    width: auto;
    transform: rotate(0deg);
    margin: 0;
  }

  .profile-image .descriptions {
    display: none;
  }

  .projects-container .title-r {
    font-size: 2.5rem;
  }

  .title:before {
    height: 5px;
    bottom: 5px;
  }
  .project-landing-container {
    height: 160px;
  }

  .project-landing-container .inner-l,
  .project-landing-container .inner-r {
    left: 0%;
    width: 2%;
    transform: translate(-50%, 0);
    height: 100%;
  }
  .project-landing-container .outer-l,
  .project-landing-container .outer-r {
    width: 100%;
    left: 1%;
  }
  .project-landing-container .project-landing-title-l,
  .project-landing-container .project-landing-title-r {
    top: 100%;
    left: 0;
  }
}
