.project-page-container {
  height: 100vh;
  /* background-color: teal; */
  padding: 100px 10px;
}

.project-page-content {
  /* background-color: thistle; */
  height: 100%;
  height: 77vh;
  background: url(../img/Group29.png) center center/cover;
  display: grid;
  place-items: center;
}

.project-page-title h1 {
  font-size: 5rem;
  text-transform: uppercase;
  width: 77%;
  font-weight: 600;
}

.project-page-carousal {
  margin-top: 50px;
}

.work {
  height: 77vh;
  width: 100vw;
  margin-top: 50px;
}

.gif-link {
  display: flex;
  flex-direction: column;
  width: auto;
}
