:root {
  --color-1: #3a506b;
  --color-2: #5abfbd;
  --color-3: rgb(112, 255, 234);
  --background: #0b132b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b132b;
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-x: hidden;
}

a {
  /* border-bottom: 1px solid #453886; */
  /* color: var(--background); */
  /* padding-bottom: 0.25em; */
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: white;
}

/* a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
} */

::selection {
  color: var(--background);
  background: var(--color-3);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-3);
}

.underline {
  height: 2px;
  width: 200px;
  background-color: var(--color-3);
}

.fa-html5 {
  color: #e44d26;
  padding: 10px;
}
.fa-html5:hover {
  color: #e44d26;
}

.fa-css3-alt {
  color: #139fda;
  padding: 10px;
}
.fa-css3-alt:hover {
  color: #139fda;
}

.fa-font-awesome {
  color: #139fda;
  padding: 10px;
}
.fa-font-awesome:hover {
  color: #139fda;
}
.fa-react:hover {
  color: #5edef3;
}
.fa-node-js:hover {
  color: #509941;
}

.fab,
.fas {
  transition: 0.3s all ease-in-out;
}

.fab:hover,
.fas:hover {
  transform: scale(1.3);
}

.fa-facebook-f:hover {
  color: #5684e1;
}

.fa-linkedin-in:hover {
  color: #1976d2;
}
.fa-twitter:hover {
  color: #5da9dd;
}

.fa-whatsapp:hover {
  color: #1ad03f;
}

.fa-at:hover {
  color: #e94034;
}

.fa-instagram:hover {
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right {
  position: absolute;
  right: 0;
}
.left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -20%);
}

.relative {
  height: 100%;
  position: relative;
}

textarea {
  resize: none;
}

img {
  user-select: none;
}

label {
  user-select: none;
}

input {
  border-radius: 5px;
  padding: 0 5px;
  border: 5px solid;
}
input:focus {
  outline: none;
  border: var(--color-2) 5px solid;
}

@media (max-width: 500px) {
  .right {
    left: 3%;
    /* transform: translate(50%, 0); */
  }
  .left {
    left: 0;
    top: 0;
    transform: translate(0, -100%);
  }
}
